.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  font-family: 'Luckiest Guy', sans-serif;
  color: #FFDD44;
  text-decoration: none;
  transition: all 0.5s ease;
}
a:hover {
  font-family: 'Luckiest Guy', sans-serif;
  color: #FFF176;
  background: linear-gradient(120deg, rgba(185, 115, 237, 1) 50%, rgba(160, 70, 190, 1) 100%);
}
p{
  color:#EAEAEA;
  margin:0;
}
