@font-face {
  font-family: 'Blanka Regular';
  src: url('assets/fonts/Blanka-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Luckiest Guy';
  src: url('assets/fonts/LuckiestGuy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Righteous';
  src: url('assets/fonts/Righteous-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Blanka Regular', sans-serif;
}

#root {
  height: 100vh;
}
@media(max-widh:768px){
  #root {
    overflow: hidden;
  }
}
